@tailwind base;

html,
body {
  overflow: hidden;
}

:root {
  --primary: rgb(243 243 243 / 1);
  --secondary: rgb(0 88 122 / 1);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", "sans-serif";
}

#default-checkbox:checked + label div span {
  @apply block opacity-100;
}

.default-checkbox1:checked + label {
  @apply text-[#044C7F];
}

.default-checkbox1:checked + label div {
  @apply border-[#044C7F];
}

.default-checkbox1:checked + label div span {
  @apply block opacity-100;
}
